#list {
background: linear-gradient(to top, #bd9769, #fceedd);
}

.card {
background-color: #ff8e51;
color: white;
text-shadow: 1px 1px 1px black ;

}

.card button {
    Background: radial-gradient(circle, #dceedd, #ff8e51);
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 1px black ;
}